<%- include("./partials/_header.ejs") %>
    <h1 class="home__title">
        Messages
    </h1>
    <a href="/new" class="btn home__btn">Send New Message</a>
    <% messages.forEach(message => { %>
        <article class="message">
            <h1 class="message__title"><%= message.user %></h1>
            <p class="message__body"><%= message.text %></p>
            <time class="message__time"><%= message.added %></time>
        </article>
    <%})%>

<%- include("./partials/_footer.ejs") %>
